<div class="row">
	<div class="col-sm-12">
		<form id="forminterface">
			<input name="command" type="hidden" value="interface" />

			<div class="form-group">
				<label for="interface_driver">Driver</label>
				<select id="interface_driver" class="form-control">
					{{#each this.drivers}}
					<option{{#if selected}} selected{{/if}} value="{{id}}">{{display}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group">
				<label for="interface_input">Input</label>
				<select id="interface_input" class="form-control">
					{{#each this.input}}
					<option{{#if selected}} selected{{/if}} value="{{id}}">{{display}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group">
				<label for="first_input_channel">Input Channel</label>
				<select id="first_input_channel" class="form-control">
				{{#each this.input}}
				{{#if selected}}
					{{#times channels}}
					<option {{myselect first_input_channel @index}} value="{{@index}}">{{@index}}</option>
					{{/times}}
					<option {{myselect first_input_channel 99}} value="99">Mix all input channels</option>
				{{/if}}
				{{/each}}
				</select>
			</div>
			<div class="form-group">
				<label for="interface_output">Output</label>
				<select id="interface_output" class="form-control">
					{{#each this.output}}
					<option{{#if selected}} selected{{/if}} value="{{id}}">{{display}}</option>
					{{/each}}
				</select>
			</div>
			<div style="color: #ff3737;">{{this.error_msg}}</div>
		</form>
	</div>
</div>