<button id="buttonaddsip" type="button" class="btn btn-primary mb-2">
	<i class="fas fa-plus-circle"></i> New Account
</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Account</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#each this}}
		<tr>
			<td>{{user}}@{{domain}}</td>
			{{#if status}}
				<td><span class="badge badge-success">Online</span></td>
			{{else}}
				<td><span class="badge badge-danger">Offline</span></td>
			{{/if}}
			<td>
				<p>
				<button data-user="{{user}}" data-domain="{{domain}}" class="btn btn-primary btn-sm editsip"><i class="fas fa-edit"></i></button>
				<button data-user="{{user}}" data-domain="{{domain}}" class="btn btn-danger btn-sm delete-button deletesip">
					<i class="fas fa-trash-alt"></i>
				</button>
				</p>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
